extends layout

block content

	div.mo
		div.header
			ul.nav
				li
					a(href="javascript:;") 新闻
				li
					a(href="javascript:;") hao123
				li
					a(href="javascript:;") 地图
				li
					a(href="javascript:;") 视频
				li
					a(href="javascript:;") 贴吧
				li
					a(href="javascript:;") 学术
				li
					a(href="javascript:;") 登录
				li
					a(href="javascript:;") 设置
				li
					a(href="javascript:;") 更多产品
		div.content
			div.logo
				a(href="javascript:;")
					img(src="images/bd_logo1.png")
			div.search
				div.search_main
					div.search_inp
						input(type="text")
						a(href="javascript:;") 百度一下
						a(href="javascript:;")
			div.ewm
				div.ewm_main
					a(href="javascript:;")
						img(src="images/zbios_efde696.png")
					p 手机百度
			div.footer
				div.footer_main
					p
						a(href="javascript:;") 把百度设为主页
						a(href="javascript:;") 关于百度
						a(href="javascript:;") About Baidu
						a(href="javascript:;") 百度推广		
					p
						span
						span
						span &copy2017 Baidu
						a(href="javascript:;") 使用百度前必读 
						a(href="javascript:;") 意见反馈
						span 京ICP证030173号
						a(href="javascript:;") 京公网安备11000002000001号